<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Pet Clinic</title>
    </head>
    <body>
        <!--/*@thymesVar id="owner" type="java.util.List<mm.model.persons.Owner>"*/-->
        <h1 th:text="'Owners page'">Index page</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">Id</td>
                <td th:text="${owner.firstName}">First Name</td>
                <td th:text="${owner.lastName}">Last Name</td>
            </tr>
        </table>
    </body>
</html>