<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'home')}">
    <head>
        <meta charset="UTF-8">
        <title>Pet Clinic</title>
    </head>
    <body>
        <h2 class="text-center" th:text="#{welcome}">Welcome</h2>
        <div class="row">
            <div class="col-md-12">
                <img alt="Dog and cat" class="img-responsive center-block" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
            </div>
        </div>
    </body>
</html>